.about-us {
  margin-bottom: 32px;
}

.about-us__title {
  .heading-styles();

  padding-top: 34px;
  margin: 0;
}

.about-us__list {
  font-size: 17px;
  font-weight: bold;
  list-style: none;
  line-height: 20px;
  color: @black;

  padding: 0;
}
