.about-us {
  margin-bottom: 32px;
}

.about-us__title {
  .heading-styles();
  margin: 0;
  margin-bottom: 27px;
}

.about-us__list {
  .list-reset ();

  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: @black;
}

.about-us__item {
  position: relative;
  padding-top: 59px;
  margin-bottom: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 50px;
    background-repeat: no-repeat;
  }

  &:first-child::before {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 8px;
  }

  &:nth-child(2)::before {
    background-image: url("../img/icon-feature-money.svg");
    background-position: 0 5px;
  }

  &:nth-child(3)::before {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 7px 10px;
  }

  &:nth-child(4)::before {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 2px;
  }

  &:nth-child(5)::before {
    left: -6px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: 0 9px;
  }

  &:last-child::before {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 3px 6px;
  }
}

@media (min-width: @tablet-width) {
  .about-us__title {
    .heading-tablet();
    margin-bottom: 43px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;

    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item {
    width: 50%;
    margin-bottom: 53px;
  }

  .about-us__item:nth-child(2) {
    order: 1;
  }

  .about-us__item:nth-child(3) {
    order: 2;
  }

  .about-us__item:nth-child(5) {
    order: 1;
  }

  .about-us__item:nth-child(6) {
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    padding: 0 50px;
  }

  .about-us__title {
    .heading-desktop();
  }

  .about-us__list {
    padding-left: 4px;
    width: 700px;
  }
}
