.bestseller__title {
  .heading-styles();

  margin: 0;
}

.bestseller__status {
  color: @aquamarine-light;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  margin: 0;
}

.bestseller__option-list {
  padding-bottom: 32px;
  line-height: 20px;
}

.bestseller__description {
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .bestseller__heading-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .bestseller__container {
    display: flex;
  }

  .bestseller__wrapper {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .bestseller__heading-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 170px;
  }

  .bestseller__container {
    padding-left: 170px;
  }
}
