.bestseller__title {
  .heading-styles();

  margin: 0;
}

.bestseller__status {
  color: @aquamarine-light;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  margin: 0;
}

.bestseller__option-list {
  padding-bottom: 32px;
  line-height: 20px;
}

.bestseller__description {
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .bestseller__heading-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .bestseller__card {
    position: relative;
    padding-right: 50%;
  }

  .bestseller__image {
    position: absolute;
    top: 50px;
    right: 0;
    display: block;
  }

  .bestseller__status {
    position: absolute;
    top: 0;
    right: 0;
  }

  .bestseller__wrapper {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .bestseller__heading-wrapper {
    padding-left: 175px;
    position: relative;
  }

  .bestseller__container {
    padding-left: 175px;
  }

  .bestseller__status {
    left: 0;
  }
}
