.bestseller__title {
  .heading-styles();
}

.bestseller__status {
  color: spin(saturate(lighten(@aqua-marine, 5%), 6%), -3);
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.bestseller__description {
  line-height: 24px;
}

.bestseller__option-list {
  line-height: 20px;
}
