.button {
  display: block;
  padding: 20px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: @greyish-brown;
  border: 2px solid @greyish-brown;
}
