.catalog {
  padding-top: 8px;
}

.catalog__list {
  .list-reset();
}

.catalog__item {
  margin-bottom: 30px;
}

.catalog__item:last-child {
  margin-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .catalog {
    padding-top: 7px;
    margin-bottom: 51px;
  }

  .catalog__item {
    margin-bottom: 52px;
  }
}

@media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
  .catalog__item:nth-child(2) .item-card__title {
    margin-bottom: 8px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    margin-bottom: 56px;
  }

  .catalog__list {
    display: flex;
  }

  .catalog__item,
  .catalog__item:last-child {
    margin-bottom: 0;
  }

  .catalog__item:not(:last-child) {
    margin-right: 50px;
  }
}
