.category-list__item {
  list-style: none;
  font-size: 19px;
  font-weight: bold;
}

.category-list__item--top {
  background-color: spin(saturate(lighten(@aqua-marine, 5%), 6%), -3);
  height: 50px;
}

.category-list__item--bottom {
  background-color: @aqua-marine;
  height: 50px;
}

.category-list__link {
  text-decoration: none;
  color: @white;
}
