.category-catalog {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #fafafa;
  background-position: 50% -30px;
  margin-bottom: 32px;
}

.category-catalog__list {
  .list-reset();
}

.category-catalog__slogan {
  display: block;
  font-weight: bold;
  font-size: 27px;
  color: @brown-dark;
  padding: 76px 30px 120px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .category-catalog {
    box-shadow: inset 0 1px 0 0 #ececec;
  }

  .category-catalog__list {
    display: flex;
    .tablet-container();
  }

  .category-catalog__slogan {
    padding-top: 135px;
  }
}

@media (min-width: @desktop-width) {
  .category-catalog__list {
    .desktop-container();
  }
}
