.contacts {
  margin-bottom: 39px;
}

.contacts__wrapper {
  margin-bottom: 42px;
}

.contacts__e-mail {
  margin: 0;
}

.contacts__map {
  margin-bottom: 39px;
}

.contacts__e-mail-wrapper,
.contacts__address {
  display: flex;
  width: 260px;
}

.contacts__e-mail-title,
.contacts__address-title {
  margin-right: 26px;
}

@media (min-width: @tablet-width) {
  .contacts__container {
    display: flex;
  }

  .contacts__e-mail-wrapper {
    margin-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__container {
    display: block;
  }

  .contacts__wrapper {
    position: relative;
    padding-right: 50%;
    padding-left: 175px;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
}
