.copyright__link {
  display: flex;
  width: 185px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 19px;
  color: @black;
  line-height: 18px;
  text-decoration: none;

  &:hover .copyright__image {
    fill: #71cdbf;
  }

  &:active .copyright__image {
    fill: #bde3dd;
  }

  &:hover .copyright__text {
    color: @black-hover;
  }

  &:active .copyright__text {
    color: @black-active;
  }
}

.copyright__text {
  margin-bottom: 5px;
}

.copyright__image {
  margin-right: 2px;
  fill: @aquamarine-light;
}
