.form-text {
  .label-style ();
  position: relative;
}

.form-text:last-child .form-text__input--name {
  padding-bottom: 15px;
}

.form-text__input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 2px solid @black;
  padding: 15px 20px 16px 0;
  background-color: transparent;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    outline-offset: 0;
    border-bottom: 2px solid @aquamarine-input;
  }
}

.form-text__input:focus-within {
  // border-bottom: 2px solid black;
}

.form-text__input::placeholder {
  color: @greyish-brown-30;
  line-height: 18px;
}

.form-text__input--name::placeholder {
  font-size: 17px;
}

.form-text__input--phone::placeholder {
  font-size: 18px;
  text-transform: uppercase;
}

.form-text__label {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 11px;
  right: 8px;
  fill-opacity: 0.2;
}

.form-text__label--mail {
  right: 4px;
}

input[type="text"]:hover ~ .form-text__label,
input[type="text"]:active ~ .form-text__label,
input[type="text"]:focus ~ .form-text__label {
  fill: @aquamarine-input;
  fill-opacity: 1;
}

@media (min-width: @tablet-width) {
  .form-text {
    width: 500px;
    font-size: 19px;
  }

  .form-text__input::placeholder {
    font-size: 19px;
  }

  .form-text__input {
    padding-left: 18px;
  }

  .form-text__label {
    top: 13px;
    right: 25px;
  }

  .form-text__label--mail {
    right: 21px;
  }
}

@media (min-width: @desktop-width) {
  .form-text {
    width: 700px;
  }

  .form-text__label {
    right: 8px;
  }
}
