.form-textarea__input {
  display: block;
  width: 256px;
  resize: none;
  border: 2px solid #444444;
  padding: 0;
  padding-bottom: 2px;
}

.form-textarea__input::placeholder {
  font-size: 17px;
  color: @greyish-brown-30;
  line-height: 18px;
  padding-top: 14px;
  padding-left: 15px;
}

@media (min-width: @tablet-width) {
  .form-textarea__input {
    width: 500px;
  }
}

@media (min-width: @desktop-width) {
  .form-textarea__input {
    width: 700px;
  }
}
