.full-name {
  margin-bottom: 29px;

  &::after {
    border-width: 3px 0 4px 20px;
    width: 76%;
  }
}

.full-name__item {
  margin-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .full-name__container {
    width: 500px;
  }

  .full-name__item {
    display: flex;
    align-items: baseline;
  }

  .full-name__item label {
    margin-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .full-name__container {
    width: 700px;
  }
}
