.full-name {
  margin-bottom: 29px;

  &::after {
    border-width: 3px 0 4px 20px;
    width: 76%;
  }
}

.full-name__item {
  margin-top: 24px;
  margin-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .full-name {
    margin-top: 37px;
  }

  .full-name__container {
    margin-top: 20px;
    width: 500px;
  }

  .full-name__item {
    display: flex;
    align-items: baseline;
    margin: 0;
    margin-bottom: 26px;
  }

  .full-name__item label {
    margin-right: 25px;
  }
}

@media (min-width: @desktop-width) {
  .full-name {
    margin-right: 9px;
  }

  .full-name__container {
    width: 700px;
  }
}
