.header-container {
  position: relative;
  background: linear-gradient(180deg, #ffffff 0, #ffffff 88px, #fafafa 88px);
}

@media (min-width: @tablet-width) {
  .header-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 88px;
    width: 100%;
    height: 1px;
    background: #ececec;
  }
}
