.item-card {
  border: 1px solid #ececec;
}

.item-card__title {
  .catalog-headings();
  margin: 0;
}

.item-card__description {
  font-size: 13px;
  color: @greyish-brown;
  margin: 0;
}

.item-card__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: @black;
}

.item-card__wrapper {
  padding: 32px 28px 30px 28px;
}

@media (min-width: @tablet-width) {
  .item-card {
    display: flex;
    width: 100%;
  }

  .item-card__buy-section-wrapper {
    display: flex;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .item-card {
    flex-direction: column;
  }
}
