.item-card {
  border: 1px solid #ececec;
}

.item-card__image {
  width: 260px;
  height: 194px;
}

.item-card__link-image {
  opacity: 0.2;

  &:hover {
    fill: @seafoam-blue;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.item-card__link {
  text-decoration: none;
}

.item-card__name {
  min-height: 59px;
  border-bottom: 1px solid @gray-light;
  padding-bottom: 19px;
  margin-bottom: 21px;
}

.item-card__title {
  .catalog-headings();
  margin: 0;
  margin-bottom: 5px;

  &:hover {
    color: @black-hover;
  }

  &:active {
    color: @black-active;
  }
}

.item-card__description {
  font-size: 13px;
  color: @greyish-brown;
  margin: 0;
}

.item-card__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: @black;
  margin: 0;
}

.item-card__wrapper {
  padding: 18px 28px 27px 27px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.item-card__buy-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-card__add-to-cart {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .item-card {
    display: flex;
    width: 100%;
  }

  .item-card__wrapper {
    padding: 25px 28px 24px 27px;
    width: 275px;
  }

  .item-card__title {
    font-size: 20px;
    line-height: 24px;
  }

  .item-card__description {
    font-size: 15px;
    line-height: 30px;
  }

  .item-card__name {
    min-height: 216px;
  }

  .item-card__picture {
    line-height: 0;
  }

  .item-card__image {
    width: 334px;
    height: auto;
  }

  .item-card__buy-section-wrapper {
    display: flex;
    align-items: center;
  }

  .item-card__price {
    font-size: 17px;
    margin-left: 4px;
  }
}

@media (min-width: @desktop-width) {
  .item-card {
    flex-direction: column;
  }

  .item-card__image {
    width: 316px;
    height: auto;
  }

  .item-card__name {
    min-height: 97px;
    padding-bottom: 0;
  }

  .item-card__wrapper {
    width: 250px;
    padding: 25px 36px 27px 26px;
  }

  .item-card__price {
    margin-left: 0;
  }
}
