.page-main__title {
  font-weight: bold;
  font-size: 27px;
  color: @black;
  background-color: @gray-light;
  text-align: center;
  padding: 71px 0 76px;
  margin: 0;
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
    padding: 96px 0 89px;
    margin-bottom: 70px;
    // border-bottom: 30px solid;
    // border-image-source: url("../img/bg-zigzag-fill.svg");
    // border-image-slice: 50;
    // border-image-repeat: round;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -9px;
      height: 30px;
      width: 100%;
      background-size: 100%;
      transform: translateX(-50%);
      transform-origin: 50%;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    font-size: 53px;
    line-height: 57px;
    padding: 94px 0 117px;
    margin-bottom: 115px;

    &::after {
      bottom: 0;
    }
  }
}
