.production {
  border: 1px solid #ececec;
}

.production__title {
  .catalog-headings();
  padding-left: 91px;
}

.production__description {
  padding-left: 34px;
  font-size: 13px;
  line-height: 24px;
}

.production__order {
  margin-left: 34px;
  margin-right: 34px;
}

@media (min-width: @desktop-width) {
  .production {
    padding-left: 50%;
    position: relative;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;
  }
}
