.site-list {
  .list-reset();
}

.site-list__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding: 30px 30px 32px 30px;
  box-shadow: 0 1px 0 0 @greyish-white,
    inset 0 1px 0 0 @greyish-white;
}

.site-list__item:nth-child(n+5) {
  display: none;
}

.site-list__link {
  position: relative;
  display: block;
  padding-left: 45px;
  margin: 0 auto;
  width: 260px;
  text-decoration: none;
  color: @black;
}

.site-list__link-search,
.site-list__link-cart {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 21px;
  height: 18px;

  opacity: 0.2;
}


.site-list__link[href] {
  &:hover {
    color: @black-hover;
  }

  &:active {
    color: @black-active;
  }

  &:hover .site-list__link-image {
    fill: @seafoam-blue;
    opacity: 1;
  }

  &:active .site-list__link-image {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__item {
    order: 2;
    padding-right: 0;
    padding-left: 0;

    box-shadow: none;
    z-index: 1;
    width: 231px;
  }

  .site-list__item:nth-child(7) {
    display: block;
    font-weight: normal;
    color: @greyish-brown;
  }

  .site-list__item:nth-child(1) {
    width: 132px;

    margin-right: 35px;
  }

  .site-list__item:nth-child(2) {
    margin-right: 39px;
  }

  .site-list__item:nth-child(2) .site-list__link,
  .site-list__item:nth-child(1) .site-list__link {
    padding-left: 0;
  }

  .site-list__link {
    padding-left: 49px;
  }

  .site-list__item a {
    margin: 0;
    display: inline;
  }

  .site-list__item--search {
    width: 81px;
    order: 0;
    margin-left: 48%;
    padding-bottom: 34px;
    font-size: 0;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .site-list__item--search a {
    padding-left: 82px;
  }

  .site-list__link-search {
    left: 31px;
    top: 4px;
  }

  .site-list__link-cart {
    left: -2px;
  }

  .site-list__item--basket {
    margin-left: 33px;
    order: 1;
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
  .site-list__item:nth-child(2),
  .site-list__item:nth-child(1),
  .site-list__item:nth-child(7) {
    font-size: 15px;
    padding-top: 18px;
    padding-bottom: 42px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    order: 0;
  }

  .site-list__item--search {
    order: 0;
    margin-left: 105px;
  }

  .site-list__item--basket {
    order: 0;
  }

  .site-list__item:nth-child(n+5) {
    display: block;
    font-size: 15px;
  }

  .site-list__item:nth-child(5) .site-list__link,
  .site-list__item:nth-child(6) .site-list__link {
    padding-left: 0;
  }

  .site-list__item:nth-child(1) {
    width: 149px;
  }

  .site-list__item:nth-child(2) {
    padding-left: 36px;
    border-left: 1px solid @greyish-white;
    margin-right: 143px;
  }

  .site-list__item:nth-child(5) {
    width: 219px;
  }

  .site-list__item:nth-child(6) {
    margin-right: 369px;
  }

  .site-list__item:nth-child(7) {
    margin-left: 0;
  }

  .site-list__item:nth-child(5),
  .site-list__item:nth-child(6),
  .site-list__item:nth-child(7) {
    font-size: 15px;
    padding-top: 18px;
    padding-bottom: 42px;
  }
}
