.social__list {
  .list-reset();
  display: inline-flex;
  justify-content: space-between;
  width: 147px;
}

.social__item:first-child {
  margin-top: 4px;
}

.social__item:last-child {
  margin-right: 6px;
}

@media (min-width: @tablet-width) {
  .social__list {
    margin-left: 80px;
  }
}
