.heading-styles() {
  font-weight: bold;
  font-size: 25px;
  color: @black;
}

.heading-tablet() {
  font-size: 43px;
  line-height: 50px;
  margin: 0;
}

.heading-desktop() {
  font-size: 53px;
  line-height: 57px;
}

.catalog-headings() {
  font-weight: bold;
  font-size: 17px;
  color: @black;
  line-height: 24px;
}

.label-style () {
  font-weight: bold;
  font-size: 17px;
  color: @black;
  line-height: 18px;
}

.list-reset () {
  margin: 0;
  padding: 0;

  list-style: none;
}

.mobile-container() {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

.tablet-container() {
  width: 668px;
  padding: 0 50px;
  margin: 0 auto;
}

.desktop-container() {
  width: 1050px;
  padding: 0 50px;
  margin: 0 auto;
}
