@black: #000000;
@brown-dark: #010000;
@white: #ffffff;
@gray-light: #f1f1f1;
@aquamarine: #56c3b2;
@aquamarine-light: #63d1bb;
@greyish-brown: #444444;
@greyish-brown-light: rgba(68, 68, 68, 0.3);
@greyish-white: #ececec;

@black-hover: rgba(0, 0, 0, 0.6);
@black-active: rgba(0, 0, 0, 0.3);

@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;
@tablet-width-only: 1149px;
